.body {
    font-family: 'Raleway';
}

.container {
float: none;
display: flex;
justify-content: center;
}

#visit-site {
    font-size: 15px;
    float: left;
    letter-spacing: .6.5rem; 
}

#email:hover {
    cursor: pointer; 
    color: rgb(30, 109, 255);
}

.pickle-header{
    margin-top: 128px; 
    margin-bottom: 5px;
  }

#pickle-logo {
    margin: 0 auto; 
    width: 100%; 
}

#pickle-logo-mobile {
    margin: 0 auto; 
    display: none; 
    text-align: center; 
    width: 100%; 
}

#coming-soon, #coming-soon-small {
    font-size: 30px;
    font-weight: 200; 
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 3px #000000;;
    letter-spacing: 1.5px; 
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 10px;
}

#contact-info, #contact-info-small {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 350; 
    letter-spacing: 1px; 
    font-family: 'Raleway';
    text-align: center;
    margin-top: -340px; 
}

#contact-info-small, #coming-soon-small {
  display: none; 
}

#email {
    color:rgb(30, 109, 255);
}

#allrights {
    text-align: center; 
    font-family: 'Raleway';
    letter-spacing: 1px; 
    font-size: 11.2px; 
    bottom: 0; 
    position: fixed;
    padding-bottom: 15px; 
}
/* // MEDIA QUERIES  */
@media (max-width: 480px) {
    #coming-soon {
        font-size: 27px; 
        margin-top: -8px;
        display: none; 
    }

    #contact-info {
        font-size: 21px;
        margin-top: -5px;
        display: none; 
    }

    .pickle-header{
        margin-top: 20px;
      }

    #pickle-logo {
        display: none; 
    }

    #pickle-logo-mobile { 
        display: block;
    }
    #contact-info-small {
      display: block; 
      margin-top: 5px;
      font-size: 21px; 
  }
}
  
@media (max-width: 800px) {
  #coming-soon-small {
      display: block; 
      font-size: 25px; 
  }
  
  #contact-info-small {
      display: block; 
      margin-top: 5px;
      font-size: 18px; 
  }
  .container-ball {
    display: none; 
}
#contact-info {
  display: none; 
}
  }

@media (max-width: 730px) {
#coming-soon {
    display: none; 
}

#contact-info {
    font-size: 17px;
    display: none; 
}

#pickle-logo {
    display: none; 
}

#pickle-logo-mobile { 
    display: block;
}
}




@import "compass/css3";

.ball {
  position: absolute;
  top: 0;
  left: -20px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: #0f77ff;
  margin-left: -5px;
  transition-property: left, top;
  transition-timing-function: cubic-bezier(.25,.1,.25,1), cubic-bezier(.25,.1,.25,1);
}

.bouncer {
  position: relative;
  margin: 0;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  outline: none;
}

.word.lit {
  color: #000000;
  text-shadow: 0px 0px 3px #000000;;
}

.container-ball {
  width: 100%;
  font-family: 'Raleway';
  font-weight: 200; 
  height: 400px;
  letter-spacing: 1.5px; 
  margin: 0 auto;
  text-align: center;
}
/* 
.light-switch {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 50px;
  color: #aaa;
  cursor: pointer;
}

.hint {
  width: 350px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  background: #ddd;
  color: #666;
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -175px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: default;
  
  &:not(.preload) {
    transition: top 1s;
  }
  
  &.open {
    top: 0px;
  }
  
  & > i {
    margin: 0 5px;
    background: #ccc;
    color: #222;
    border-radius: 100%;
    display: inline-block;
    line-height: 17px;
    width: 17px;
    height: 17px;
  }
}
} */
